*.cache
BrightenUpClientSide/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
BrightenUpClientSide/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.suo
*.suo
*.suo
.vs/config/applicationhost.config